<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Billetterie du Louvre{% endblock %}</title>
		<link href="{{ asset('assets/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/lib/jquery-ui/jquery-ui.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/louvre.css') }}">
	</head>

	<body>

			<div class="row">
			
				<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<a class="navbar-brand" href="{{ path('louvre_booking_home') }}"><span><img alt="Brand" src="{{ asset('assets/css/img/logo.png') }}"></span>Bienvenue sur la billetterie en ligne du musée du Louvre</a>

						</div>
					</div>
				</nav>		

					
				<div id="mainBlock" class="col-xs-12 col-sm-10 col-sm-offset-1">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
						{% if app.session.flashbag.peekAll|length > 0 %}
					        {% for type, messages in app.session.flashbag.all %}
					            {% for message in messages %}
					                <div class="{{ type ? type : '' }}">
					                	<div class="alert alert-{{ type }}">
					                    {{ message }}
					                	</div>
					                </div>
					            {% endfor %}
					        {% endfor %}
					    {% endif %}
						</div>

						<div class="title col-xs-12">
							<h1>Visiter le Musée du Louvre</h1>
						</div>	
						<div class="col-xs-12 col-sm-offset-4 col-sm-4">
							<div class="progress">
							  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 20%">
							    <span class="sr-only">20% Complete</span>
							    1.Réservation
							  </div>
							  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 20%">
							    <span class="sr-only">20% Complete</span>
							    2.Billets
							  </div>
							  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 20%">
							    <span class="sr-only">20% Complete</span>
							    3.Récapitulatif
							  </div>
							  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 20%">
							    <span class="sr-only">20% Complete</span>
							    4.Paiement
							  </div>
							  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 20%">
							    <span class="sr-only">20% Complete</span>
							    5.Terminé !
							  </div>
							</div>
						</div>

				{% block body %}
				{% endblock %}
					</div>
				</div>

				
			
			</div>	
			<footer class="footer">
				<div class="row">
					
					<div class="col-sm-4">
						<h2>Footer</h2>
					</div>
				</div>
						
			</footer>
		<!-- jQuery -->
    <script src="{{ asset('assets/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/lib/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/louvre.js') }}"></script>
	</body>


</html>