{% extends "LouvreBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Tickets{% endblock %}
	
{% block body %}
		<h1>Bienvenue sur la billetterie en ligne du musée du Louvre</h1>

		<h2>Reservation pour une {{ booking.type }}</h2>

		<p>Deuxieme formulaire a placer ici avec: </p>
			<ul>
				<li>1 formulaire par ticket sélectionné</li>
				<li>nom, prénom, pays</li>
				<li>âge</li>
				<li>Discount</li>
			</ul>

		<h3>Formulaire ticket</h3>

		<div class="well">
		  {{ form_start(form) }}

		  

		  	{% for ticket in form.tickets %}
		  
		  		<div class="well">
			  		<ul class="tickets">
				  		<li>{{ form_row(ticket.firstName) }}</li>
				  		<li>{{ form_row(ticket.lastName) }}</li>
				  		<li>{{ form_row(ticket.age) }}</li>
				  		<li>{{ form_row(ticket.country) }}</li>
				  		<li>{{ form_row(ticket.discount) }}</li>
				  		<li>{{ form_row(ticket.price) }}</li>
			  		</ul>
		  		</div>
		  	{% endfor %}
		    
		  
		  {{ form_end(form) }}
		</div>

		
{% endblock %}
